@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*All*/
* {
  background-color:aliceblue;
  font-family: "Ubuntu";
}

button {
  border:none;
  border-radius:8px;
  padding: 10px;
}

/*Navbar*/
.navbar{
  height:100px;
  width: 100%;
  background-color:#FFCD01;
  /*center items in navbar*/
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar h1 {
  background-color:#FFCD01;
  margin-right:20px;
}

/*Create*/
#addTask{
  margin-left:20px;
  background-color:#74648C;
  color: white;
  float:right;
  margin-top:-65px;
  margin-right:100px;
}

#addTask:hover {
  background-color:#8975a7;
}

/*Tasks*/
.tasks{
  width:35%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tasks input {
  border-style:none;
  border: 1px solid rgb(192, 192, 192);
  padding:10px;
  width:100%;
}

.tasks button {
  margin-top: 5px;
  margin-right: 5px;
}

#done {
  background-color:#00CA4E;
  color: white;
}

#done:hover{
  background-color:#2fdf72;
}

#cancel {
  background-color:#FF605C;
  color: white;
}

#cancel:hover{
  background-color:#fa8381;
}
