@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*All*/
* {
  background-color:aliceblue;
  font-family: "Ubuntu";
}

button {
  border:none;
  /*border-radius:8px;
  padding: 10px;*/
  color:white;
}

/*Navbar*/
.navbar{
  height:100px;
  width: 100%;
  background-color:#FFCD01;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar h1 {
  background-color:#FFCD01;
  margin-right:20px;
}

/*Create*/
.taskContainer{
  background-color:#FFCD01;
}

#addTask{
  background-color:#74648C;
  float:right;
  border-radius:8px;
  padding: 10px;
}

#addTask:hover {
  background-color:#8975a7;
}

/*Tasks*/
.tasks{
  width:35%;
  margin: 0;
  position: absolute;
  left: 50%;
  top:150px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*display:grid;
  grid-template-columns:200px 50px;*/
}

.tasks input {
  border-style:none;
  border: 1px solid rgb(192, 192, 192);
  padding:10px;
  width:100%;
  background-color:white;
}

.tasks button {
  margin-top: 5px;
  margin-right: 5px;
  border-radius:8px;
  padding: 10px;
}

#done {
  background-color:#00CA4E;
}

#done:hover{
  background-color:#2fdf72;
}

/*Main*/
.main {
  margin-top:100px;
}

/*Task preview*/
.taskPreview {
  margin: auto;
  width: 50%;
  text-align:center;
  
}

.taskPreview img {
  background-color:white;
}

.taskPreview form{
  background-color:white;
  padding:15px;
  border-radius: 8px;
  margin-bottom:10px;
}

/*This allows the image to change on hover*/
.taskPreview:hover .showOnHover {
  display:block;
}

.taskPreview:hover .hideOnHover {
  display:none;
}

.showOnHover{
  display:none;
}

/*Delete and checkboxes*/
.delete{
  float:right;
  margin-right:5px;
  margin-top:-5px;
  background-color:white;
}



.check{
  float:left;
}

#deleteChecked {
  background-color:#FF605C;
  position: absolute;
  left: 50%;
  margin-top:20px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius:8px;
  padding: 10px;
}

#deleteChecked:hover {
  background-color:#fa8381;
}
